<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- include main scripts; title tag will be removed-->
	<title th:replace="~{itsupport/fragments/headmain :: headmain}"></title>
	<title>NEW-Zeiterfassung</title>

	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link  th:href="@{../../css/formulare_main.css}" rel="stylesheet">
    <style>
	    /* Remove the navbar's default margin-bottom and rounded borders */ 
	    .navbar {
	      margin-bottom: 0;
	      border-radius: 0;
	    }
	    
	    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	    .row.content {height: 450px}
	    /* Set gray background color and 100% height */
	    .sidenav {
	      padding-top: 20px;
	      background-color: #f1f1f1;
	      height: 100%;
	    }
	    
	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #555;
	      color: white;
	      padding: 15px;
	    }
	    fieldset{
		    text-align: left;
		}
		.interForm{
		    display: flex;
		    flex-flow: wrap;
		}
		form{
		    text-align: center;
		    border-color: #f1f1f1;
		    border-style: solid;
		    
		}
		section{
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    
		}
		/****** Begin Zeiterfassung section ******/
		#name_error {
			display: none;
		}
		/****** End section Zeiterfassung ******/
	    /* On small screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      .sidenav {
	        height: auto;
	        padding: 15px;
	      }
	      .row.content {height:auto;} 
	    }
  	</style>
  	<!-- Load persons array in javascript -->
  	<script type="text/javascript" th:inline="javascript">
		  var telelist_kall = /*[[${kall_telelist}]]*/ 'Telelist Kall';
		  var telelist_khm = /*[[${khm_telelist}]]*/ 'Telelist Kuchenheim';
		  var telelist_uelp = /*[[${uelp_telelist}]]*/ 'Telelist ülpenich';
		  var telelist_zhm = /*[[${zhm_telelist}]]*/ 'Telelist Zingsheim';
		  var telelist_zvw = /*[[${zvw_telelist}]]*/ 'Telelist Zentrale Verwaltung';
		  var telelist_qubi = /*[[${qubi_telelist}]]*/ 'Telelist QuBi';
		  var optreasons = /*[[${optreasons}]]*/ 'Option Reason';
		  var persons = telelist_zvw;
	 </script>
  	<!-- Javascript for form -->
  	<script type="text/javascript" th:src="@{../../js/zeiterfassung.js}">
	 </script>
</head>
<body>
	 <!-- Load alert icons -->
	<svg th:replace="~{itsupport/fragments/alerticons}"></svg>
	 
	<!-- Load Header from template -->
	<header th:replace="~{itsupport/fragments/header :: header}"></header>
	 
	<!-- Load topmenu template -->
    <nav th:replace="~{formulare/fragments/topmenu :: topmenu}"></nav>
     
  	<div class="row pt-1 m-2">
  		<!-- Load sidenav template -->
  		<div th:replace="~{formulare/fragments/sidenav :: sidenav}"></div>
	    
	    <!-- main view col-->
	    <div class="col p-3 max-width text-left" style="height: 75%">
	    	<div id="name_warning" class="alert alert-warning d-flex align-items-center alert-dismissible visually-hidden" role="alert"><!-- Name Error -->
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		  		<div>
		    		<strong>Achtung:</strong> Der angegebene Name steht nicht in der Liste von <strong id="location_warn">der Zentralen Verwaltung</strong>! 
		    		Sie können das Formular aber dennoch absenden.
		  		</div>
			</div>
			<div id="dateTo_error" class="alert alert-danger d-flex align-items-center alert-dismissible visually-hidden" role="alert"><!-- DateTo Error -->
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		  		<div>
		    		Das <b>Bis-Datum</b> muss gleich oder nach dem <b>Von-Datum</b> sein!
		  		</div>
			</div>
			<div id="form_success" class="alert alert-success d-flex align-items-center alert-dismissible visually-hidden" role="alert"><!-- Form Success -->
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		  		<div>
		    		Die Zeiterfassung wird an Outloook übertragen.
		  		</div>
			</div>
			<div>
				<h1 id="location_header">Zentrale Verwaltung</h1>
			</div> 
	      	<form id="time_entering" method="post" action="#" style="min-width: 300px;">
				<div class="row g-3 p-2" id="step_names">
					<div class="form-floating mb-3 col"><!-- Nachname -->
						<input id="name" type="text" name="name" class="form-control" pattern="[a-zA-ZäüößÜÖÄ\-´'éÉ/\s/]+" placeholder="Nachname" required>
						<label for="name">Nachname</label>
					</div>
					<div class="form-floating mb-3 col"><!-- Vorname -->
						<input id="prename" type="text" name="prename" class="form-control" pattern="[a-zA-ZäüößÜÖÄ\-´'éÉ/\s/]+" placeholder="Vorname" required>
						<label for="prename">Vorname</label>
					</div>
				</div>
				<div class="row g-3 p-2 h-auto" id="step_request">
					<div class="form-floating mb-3 col"><!-- Antragsart -->
						<select id="option_request" class="form-select" required>
							<option value="" selected>Bitte die Antragsart auswählen</option>
							<option value="Krankbuchung" >Krankbuchung</option>
							<option value="Korrekturbuchung" >Korrekturbuchung</option>
							<!-- <option th:block th:each="request : ${optrequests}" th:value="${request.getValue()}" th:text="${request.getText()}"/> -->
						</select>
						<label for="option_request">Antrag auf</label>
					</div>
					<div class="form-floating mb-3 col"><!-- Grund -->
						<select id="option_reason" class="form-select" required>
							<option value="" selected hidden>Bitte den Grund auswählen</option>
							<!-- <option value="Krank ohne Bescheinigung">Krank ohne Bescheinigung</option>
							<option value="Krank mit eAu">Krank mit eAu</option>
							<option value="Krank mit pAu">Krank mit pAu</option>-->
							<option th:block th:each="reason : ${optreasons}" th:value="${reason.getValue()}" th:text="${reason.getText()}"/>
						</select>
						<label for="option_cause">Grund</label>
					</div>
					<div class="form-floating mb-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Bitte beschreiben Sie genau Ihren Grund des Antrages">
						<!-- Beschreibung des Grundes -->
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						<textarea id="description_area" name="reasondescript" class="form-control" rows="5" style="height: 100px"></textarea>
						<label for="description_area">Erläuterungen</label>
					</div>
				</div>
				<div class="row g-3 p-2" id="step_dates">
					<div class="form-floating mb-3 col"><!-- Datum Von -->
						<input id="dateFrom" type="date" name="dateFrom" class="form-control" placeholder="Von" required>
						<label for="dateFrom">Von</label>
					</div>
					<div class="form-floating mb-3 col">
						<input id="dateTo" type="date" name="dateTo" class="form-control" placeholder="Bis" required>
						<label for="dateTo">Bis</label>
					</div>
					
				</div>
				<div class="row g-3 p-2">
					 <div class="form-floating mb-3 col"> 
						<input id="timeFrom" type="time" name="timeFrom" class="form-control" placeholder="Uhr">
						<label for="timeFrom">Uhr</label>
					</div>
					<div class="form-floating mb-3 col"> 
						<input id="timeTo" type="time" name="timeTo" class="form-control" placeholder="Uhr">
						<label for="timeTo">Uhr</label>
					</div>
				</div>
				
				<div class="form-group mb-3 col send" data-bs-toggle="tooltip" data-bs-placement="top" title="Outlook Vorlage öffnen">
					<input type="submit" value="Send Mail" class="btn btn-success" id="send" name="send"/><br/>
				</div>
			</form>
	    </div>
	    
	    <!-- Anzeige -->
	    <div class="col col-sm-2 p-3 bg-grey sidenav m-2">
	      	<h3>Anleitung</h3>
	      	<div class="well border" id="webtour_msg_div">
	        	 <div id="webtour_msg" class="alert alert-info d-flex align-items-center alert-dismissible" role="alert"><!-- Form Success -->
			  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
			  		<div>
			    		Wollen Sie eine Tour starten?<br>
			    		<button type="button" class="btn btn-success" id="start_tour">
							Ja
						</button>&nbsp;
						<button type="button" class="btn btn-danger" id="no_tour">
							Nein
						</button>
			  		</div>
				</div>
	      	</div>
	      	<div class="well p-2 border">
	      		<!-- info an rechten col -->
	      		<ul>
					<li><strong>Schritt 1:</strong> Wählen Sie <b>Ihren Standort</b> aus. Ggf. vorher auf Korrekturbeleg klicken.</li>
	      			<li><strong>Schritt 2:</strong> Geben Sie Ihren Vor- und Nachnamen an.</li>
	      			<li><strong>Schritt 3:</strong> Wählen Sie den Grund aus. Bei Bedarf können Sie es erläutern.</li>
	      			<li><strong>Schritt 4:</strong> Geben Sie bitte mindestens ein Datum an.</li>
	      			<li><strong>Schritt 5:</strong> Klicken Sie auf dem Button "Send Mail". Es wird eine Outlook Vorlage geöffnet, die Sie dann versenden können.</li>
	      		</ul>
	      	</div>
	      	<!-- load contact template -->
	      	<div th:replace="~{itsupport/fragments/contact :: contact}"></div>
	    </div>
	</div>
	<!-- Load Footer Template -->
	<footer th:replace="~{itsupport/fragments/footer :: footer}"></footer>
</body>
</html>