<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- include main scripts; title tag will be removed-->
<title th:replace="~{itsupport/fragments/headmain :: headmain}"></title>
<title>NEW-Ticket Senden</title>

<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!-- <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}"/>-->
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}
/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

fieldset {
	text-align: left;
}

.interForm {
	display: flex;
	flex-flow: wrap;
}

form {
	text-align: center;
	border-color: #f1f1f1;
	border-style: solid;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
</style>
<script type="text/javascript" th:src="@{../../js/ticket.js}"></script>
</head>
<body>
	<!-- Load alert icons -->
	<svg th:replace="~{itsupport/fragments/alerticons :: alerticons}"></svg>
	
	<!-- Load Header from template -->
	<header th:replace="~{itsupport/fragments/header :: header}"></header>
	
	<!-- Load topmenu template -->
	<nav th:replace="~{itsupport/fragments/topmenu :: topmenu}"></nav>
	
	
	<div class="row pt-5 m-2">
		<!-- navigation link intern -->
		<!-- Load sidenav template -->
		<div th:replace="~{itsupport/fragments/sidenav :: sidenav}"></div>

		<!-- main view col-->
		<div class="col p-3 max-width text-left" style="height: 75%">
			<div id="file_error" class="alert alert-danger d-flex align-items-center alert-dismissible visually-hidden" role="alert"><!-- Name Error -->
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		  		<div>
		    		Die Datei ist zu groß!
		  		</div>
			</div>
			<form method="post" id="send_ticket" action="#" th:object="${ticket}"
				style="min-width: 300px;" enctype="multipart/form-data">
				<div class="row g-3 p-2">
					<div class="form-floating mb-3 col">
						<!-- Vorname -->
						<input th:field="*{firstname}" pattern="[a-zA-ZäüößÜÖÄ\-´'éÉ/\s/]+"
							id="vnametf" type="text" class="form-control" name="vname"
							placeholder="Vorname" required> <label for="vnametf">Vorname</label>
					</div>
					<div class="form-floating mb-3 col">
						<!-- Nachname -->
						<input th:field="*{lastname}" pattern="[a-zA-ZäüößÜÖÄ\-´'éÉ/\s/]+"
							id="nnametf" type="text" class="form-control" name="nname"
							placeholder="Nachname" required> <label for="nnametf">Nachname</label>
					</div>
				</div>
				<div class="row g-3 p-2">
					<div class="form-floating mb-3 col" data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						title="In welchem Wekstatt bzw. Gebäude arbeiten Sie bei NEW? Sie können in der empfohlenen List aussuchen, oder selbst den Ort darstellen">
						<!-- Werkstatt Select -->
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-home"></i></span> <input
							th:field="*{building}" list="werkstatt-list" id="werstatt_sel"
							type="text" class="form-control" name="werkstatt"
							placeholder="Werkstatt" required> <label
							for="werkstatt-list">Werkstatt</label>
						<datalist id="werkstatt-list">
							<option value="Kall">Kall</option>
							<option value="Kuchenheim">Kuchenheim</option>
							<option value="Ülpenich">Ülpenich</option>
							<option value="Zentrale Verwaltung">Zentrale Verwaltung</option>
							<option value="Zingsheim">Zingsheim</option>
							<option value="Außenarbeitsplatz">Außenarbeitsplatz</option>
						</datalist>
					</div>
					<div class="form-floating mb-3 col" data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						title="In welcher Abteilung arbeiten Sie?">
						<!-- Abteilung -->
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-triangle-right"></i></span> <input th:field="*{branch}" id="abteilungtf" type="text"
							class="form-control" name="abteilung" placeholder="Abteilung">
						<label for="abteilungtf">Abteilung</label>
					</div>
				</div>
				<div class="row g-3 p-2">
					<div class="form-floating mb-3 col" data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						title="Lassen Sie bitte Ihre Emailadresse da!">
						<!-- email -->
						<input id="emailtf" th:field="*{email}"
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="text"
							class="form-control" name="email" placeholder="Email"> <label
							for="emailtf">E-Mail</label>
					</div>
					<div class="form-floating mb-3 col" data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						title="Lassen Sie bitte Ihre Telefonnummer da, damit wir Sie sofort kontaktieren können!">
						<!-- telefon -->
						<input id="telefontf" th:field="*{telefon}" pattern="[0-9\-\.\//\s/]+"
							type="text" class="form-control" name="telefon"
							placeholder="Telefonnummer/Kurzwahl"> <label
							for="telefontf">Telefonnummer/Kurzwahl</label>
					</div>
				</div>
				<div class="row g-3 p-2 h-auto">
					<div class="form-floating mb-3 col">
							<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span> <select id="caution_sel"
							th:field="*{category}" name="causetitle" class="form-control"
							aria-label="Default select example" required>
							<option value="" selected hidden>Was für eine Nachricht möchten
								Sie zu uns senden?</option>
							<option th:block th:each="category : ${categories}" th:value="${category.getValue()}" th:text="${category.getText()}"/>
						</select> <label for="caution_sel">Grund</label>
					</div>
					<div class="form-floating mb-3 col" id="div_micos_sel" hidden>
						<select id="micos_sel" th:field="*{micoscat}" class="form-control" aria-label="Default select example">
							<!-- <option value="" selected hidden>Bitte Detail auswählen</option>-->
							<option th:block th:each="micoscat : ${micoscats}" th:value="${micoscat.getValue()}" th:text="${micoscat.getText()}"/>
						</select> <label for="micos_sel">Detail</label>
					</div>
					<div class="form-floating mb-3 col" id="div_user_sel" hidden>
						<select id="user_sel" th:field="*{usercat}" class="form-control" aria-label="Default select example">
							<option value="" selected hidden>Bitte Detail auswählen</option>
							<option th:block th:each="usercat : ${usercats}" th:value="${usercat.getValue()}" th:text="${usercat.getText()}"/>
						</select> <label for="user_sel">Detail</label>
					</div>
					<div class="form-floating mb-3" data-bs-toggle="tooltip"
						data-bs-placement="right"
						title="Bitte beschreiben Sie genau Ihr Problem bzw. Ihre Anfrage.">
						<!-- Beschreibung des Grundes -->
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-pencil"></i></span>
						<textarea id="beschreibung_area" th:field="*{description}"
							name="causedescript" class="form-control" rows="5"
							style="height: 100px" required></textarea>
						<label for="beschreibung-area">Beschreibung</label>
					</div>
				</div>
				<div class="row g-3 p-2 h-auto">
					<div class="form-floating mb-3 col">
						<!-- Datei Anhang -->
						<input id="file" type="file" name="file" class="form-control" placeholder="Anhang"
							accept="image/jpeg, image/png, image/jpg, application/pdf" th:field="*{file}">
						<label for="file">Anhang (Max 10 MB)</label>
					</div>
				</div>
				<div class="form-group mb-3" data-bs-toggle="tooltip"
					data-bs-placement="top" title="Senden Ihres Tickets">
					<input type="submit" value="Absenden" class="btn btn-success" /><br />
				</div>

			</form>
		</div>

		<!-- Anzeige -->
		<div class="col col-sm-2 p-3 bg-grey sidenav m-2">
			<h3>Anleitung</h3>
			<div class="well p-2 border">
				<!-- info an rechten col -->
				<ul>
					<li><strong>Schritt 1:</strong> Füllen Sie Ihren Namen und
						Ihre Kontaktdaten aus</li>
					<li><strong>Schritt 2:</strong> Wählen Sie einen passenden
						Grund aus. Hier werden die häufigsten Gründe angezeigt. Wenn Sie
						nicht die geeignete Option finden, können Sie <strong>Anderer
							Grund</strong> auswählen.</li>
					<li><strong>Schritt 3:</strong> Wählen Sie bei MICOS-Störung den detailierten Grund aus.</li>
					<li><strong>Schritt 4:</strong> Bitte beschreiben Sie Ihr
						Problem bzw. Anfrage genauer in dem Feld <strong>Beschreibung</strong>.</li>
					<li><strong>Schritt 5:</strong> Optional können Sie noch eine Datei anhängen.</li>
					<li><strong>Schritt 6:</strong> Klicken Sie auf dem Button
						"Senden". Ihr Ticket wird sofort an uns gesendet.</li>
				</ul>

			</div>
			
			<!-- load contact template -->
			<div th:replace="~{itsupport/fragments/contact :: contact}"></div>
		</div>
	</div>
	
	<!-- Load Footer Template -->
	<footer th:replace="~{itsupport/fragments/footer :: footer}"></footer>
</body>
</html>