<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- include main scripts; title tag will be removed-->
<title th:replace="~{itsupport/fragments/headmain :: headmain}"></title>
<title>IT-Support</title>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!-- <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}"/>-->
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}
/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

fieldset {
	text-align: left;
}

.interForm {
	display: flex;
	flex-flow: wrap;
}

form {
	text-align: center;
	border-color: #f1f1f1;
	border-style: solid;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
</style>
</head>
<body>
	<!-- Load alert icons -->
	<svg th:replace="~{itsupport/fragments/alerticons}"></svg>

	<!-- Load Header from template -->
	<header th:replace="~{itsupport/fragments/header :: header}"></header>

	<!-- Load topmenu template -->
	<nav th:replace="~{itsupport/fragments/topmenu :: topmenu}"></nav>

	<div class="row content p-1">
		<!-- navigation link intern -->
		<!-- Load sidenav template -->
		<div th:replace="~{itsupport/fragments/sidenav :: sidenav}"></div>

		<!-- main page -->
		<div th:switch="${event_response}" class="col p-1 max-width text-left">
			<div class="d-flex justify-content-center">
				<h1 class="display-6">Support-Ticket</h1>
			</div>
			<div th:case="tracking" class="row p-3 max-width text-left">
				  <div th:switch="${color}">
					<!--<div th:case="red" class="alert alert-danger" role="alert">
						<h3 th:text="${title}"></h3>
						<h5>Problembeschreibung</h5>
						<p th:text="${categorie}"></p>
						<h5>IT-Log</h5>
						<p th:text="${contact_person}"></p>
						<p th:text="${state}"></p>
						<p th:text="${beginn_at}"></p>
						<p th:text="${ended_at}"></p>
						<p><b>Log:</b></p>
						<p th:each="desc : ${desc_list}" th:text="${desc}"></p>					</div>
					<div th:case="yellow" class="alert alert-warning" role="alert">
						<h3 th:text="${title}"></h3>
						<h5>Problembeschreibung</h5>
						<p th:text="${categorie}"></p>
						<h5>IT-Log</h5>
						<p th:text="${contact_person}"></p>
						<p th:text="${state}"></p>
						<p th:text="${beginn_at}"></p>
						<p th:text="${ended_at}"></p>
						<p><b>Log:</b></p>
						<p th:each="desc : ${desc_list}" th:text="${desc}"></p>
					</div>
					<div th:case="green" class="alert alert-success" role="alert">
						<h3 th:text="${title}"></h3>
						<h5>Problembeschreibung</h5>
						<p th:text="${categorie}"></p>
						<h5>IT-Log</h5>
						<p th:text="${contact_person}"></p>
						<p th:text="${state}"></p>
						<p th:text="${beginn_at}"></p>
						<p th:text="${ended_at}"></p>
						<p><b>Log:</b></p>
						<p th:each="desc : ${desc_list}" th:text="${desc}"></p>
					</div>-->
					<div th:case="cyan" class="alert alert-info" role="alert">
						<h3 th:text="${title}"></h3>
						<h5>Problembeschreibung</h5>
						<p th:text="${categorie}"></p>
						<h5>IT-Log</h5>
						<p><b>Allgemeine Information:</b></p>
						<p th:text="${contact_person}"></p>
						<p th:text="${state}"></p>
						<p th:text="${changed_at}"></p>
						<p th:text="${beginn_at}"></p>
						<p th:text="${ended_at}"></p>
						<p><b>Log:</b></p>
						<p th:each="desc : ${desc_list}" th:text="${desc}"></p>
					</div>
					<div th:case="*" class="alert alert-dark" role="alert">
						<h5 th:text="${title}"></h5>
						<p th:text="${desc}"></p>
					</div>
					<nav class="nav">
					  <a class="nav-link" aria-current="page" href="ticket_tracking">⬅ Zurück zu <b>Ticket-Tracking</b></a>
					</nav>
				</div>
				<div class="col p-3 max-width text-left">
					<!--  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Über Farbe Ihres Tickets erklären</button>
					<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
						<div class="offcanvas-header">
						    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Farbe zeigt Schwierigkeitsgrad Ihres Tickets</h5>
						    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
						    <div class="alert alert-info" role="alert">
						    Grad: Ticket ist im System eingegangen oder wird kurzfristig bearbeitet, falls Startdatum des Tickets eingesetzt ist.
						    </div>
						    <div class="alert alert-success" role="alert">Grad: Einfach</div>
						    <div class="alert alert-warning" role="alert">Grad: Mittel</div>
						    <div class="alert alert-danger" role="alert">Grad: Schwer</div>
						</div>
					</div>-->
					<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions1" aria-controls="offcanvasWithBothOptions1">Über Bearbeitungszustand Ihres Tickets erklären</button>
					<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions1" aria-labelledby="offcanvasWithBothOptionsLabel1">
						<div class="offcanvas-header">
						    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel1">Bearbeitungszustand ihres Tickets</h5>
						    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
						    <p><b>Eingang: </b> beschreibt den Zustand, dass Ihr Ticket im System eingegangen ist, aber es noch nicht konkret für eine Umsetzung in Art und Zeit geplant werden kann. </p><br>
						    <p><b>Vorbereitung: </b>beschreibt eine Aufgabe, wo die Art der Umsetzung bekannt ist. Es sollte auch definiert sein wer die Aufgabe erledigt und in welchem Zeitraum diese Aufgabe zu erledigen ist.</p><br>
						    <p><b>In Bearbeitung: </b>Wenn eine Aufgabe gestartet wird sollte diese in den Status "In Bearbeitung" und auch einem Mitarbeiter zugeordnet sein.</p><br>
						    <p><b>Abgeschlossen: </b>die Bearbeitung des Tickets ist abgeschlossen.</p>
						</div>
					</div>
				</div>
			</div>
			<div th:case="ticket" >
				<div th:switch="${result}" class="alert alert-primary" role="alert">
					<p th:case="-1">
						Ihr Ticket wurde nicht versendet! <br> Bitte kontaktieren Sie
						unsere IT-Kollege per <a href="mailto:edv@new-eu.de">Mail</a>
						oder Telefon. Vielen Dank!
					</p>
					<p th:case="*">
						Ihre Nachricht mit der Ticket Nr. <b th:text="${result}"></b> wurde
						versendet! <br> Wir kümmern uns schnellstmöglich um Ihr
						Anliegen und werden uns bei Ihnen melden.<br>
						<br> Sie können den Zustand Ihres Tickets mit <b>Ticket-Nummer </b><b th:text="${result}"></b> über <a href="ticket_tracking">Ticket-Tracking</a>
						verfolgen.
					</p>
				</div>
			</div>
		</div>
		

		<!-- anzeige -->
		<div class="col col-sm-2 p-3 bg-grey sidenav m-2">
			<div th:replace="~{itsupport/fragments/contact :: contact}">
				<!-- load contact template -->
			</div>
		</div>
	</div>
	<!--<div th:replace="~{itsupport/fragments/footer :: footer}">
		
	</div>  -->
</body>
</html>