<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="sidenav" class="col col-sm-2 m-2 p-3 bg-grey text-white text-left sidenav" th:switch="${page}">
  		<nav  class="nav flex-column" th:case="telenotiz">
  			<div id="step_location">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">Gesprächsnotiz</a>
		  		<div class="collapse show" id="collLocation">
					<div class="card card-body">
				  		<nav>
							  <label>
								  <input type="radio" name="location" id="zvw_location" value="zvw" checked>
								  <span class="nav-link">Zentrale Verwaltung</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="khm">
								  <span class="nav-link">Kuchenheim</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="kall">
								  <span class="nav-link">Kall</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="qubi">
								  <span class="nav-link">QuBi Eifel Mechernich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="uelp">
								  <span class="nav-link">Ülpenich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="zhm">
								  <span class="nav-link">Zingsheim</span>
							  </label>
						</nav>
					</div>
				</div>
			</div>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a>
			<!-- <a class="nav-link" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a> -->
			<a class="nav-link" data-bs-toggle="collapse" href="#collForm" role="button" aria-expanded="true" aria-controls="collForm">Änderungsmitteilung</a>
			<div class="collapse" id="collForm">
				<div class="card card-body">
			  		<nav class="nav flex-column">
			  			<a class="nav-link" href="/formulare/aendmitteilung/anschrift">Anschrift</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/arbeitszeit">Arbeitszeit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/austritt">Austritt</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/bankverbindung">Bankverbindung</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fahrtendienst">Fahrtendienst</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/krankheit">Krankheit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/lohn">Lohn</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/mehrbedarf">Mehrbedarf</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/mittagessen">Mittagessen</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/sonstiges">Sonstiges</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fehlzeit_unbezahlt">Unbezahlte Fehlzeit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/urlaub_unbezahlt">Unbezahlter Urlaub</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fehlen_unentschuldigt">Unentschuldigtes Fehlen</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_arbeitsbereich">Wechsel in Arbeitsbereich</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_kostenstelle">Wechsel Kostenstelle</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_zweigstelle">Wechsel Zweigstelle</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/zuwendung">Zuwendung</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/feedback">Feedback</a>
					</nav>
				</div>
			</div>
		</nav>
		<nav  class="nav flex-column" th:case="zeiterfassung">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<div id="step_location">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">Korrekturbeleg</a>
				<div class="collapse show" id="collLocation">
					<div class="card card-body">
				  		<nav>
							  <label>
								  <input type="radio" name="location" id="zvw_location" value="zvw" checked>
								  <span class="nav-link">Zentrale Verwaltung</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="khm">
								  <span class="nav-link">Kuchenheim</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="kall">
								  <span class="nav-link">Kall</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="qubi">
								  <span class="nav-link">QuBi Eifel Mechernich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="uelp">
								  <span class="nav-link">Ülpenich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="zhm">
								  <span class="nav-link">Zingsheim</span>
							  </label>
						</nav>
					</div>
				</div>
			</div>
			<a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a>
			<!-- <a class="nav-link" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a> -->
			<a class="nav-link" data-bs-toggle="collapse" href="#collForm" role="button" aria-expanded="true" aria-controls="collForm">Änderungsmitteilung</a>
			<div class="collapse" id="collForm">
				<div class="card card-body">
			  		<nav class="nav flex-column">
			  			<a class="nav-link" href="/formulare/aendmitteilung/anschrift">Anschrift</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/arbeitszeit">Arbeitszeit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/austritt">Austritt</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/bankverbindung">Bankverbindung</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fahrtendienst">Fahrtendienst</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/krankheit">Krankheit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/lohn">Lohn</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/mehrbedarf">Mehrbedarf</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/mittagessen">Mittagessen</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/sonstiges">Sonstiges</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fehlzeit_unbezahlt">Unbezahlte Fehlzeit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/urlaub_unbezahlt">Unbezahlter Urlaub</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fehlen_unentschuldigt">Unentschuldigtes Fehlen</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_arbeitsbereich">Wechsel in Arbeitsbereich</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_kostenstelle">Wechsel Kostenstelle</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_zweigstelle">Wechsel Zweigstelle</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/zuwendung">Zuwendung</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/feedback">Feedback</a>
					</nav>
				</div>
			</div>
		</nav>
		<nav  class="nav flex-column" th:case="bewirtungsantrag">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<div id="step_location">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">Bewirtungsantrag</a>
				<div class="collapse show" id="collLocation">
					<div class="card card-body">
						<h4 id="nav_header">Veranstaltungsort</h4>
				  		<nav>
							 <!--  <label>
								  <input type="radio" name="location" id="zvw_location" value="zvw" checked>
								  <span class="nav-link">Zentrale Verwaltung</span>
							  </label><br>-->
							  <label>
								  <input type="radio" name="location" value="khm" id="khm_location" checked>
								  <span class="nav-link">Kuchenheim</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="kall">
								  <span class="nav-link">Kall</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="qubi">
								  <span class="nav-link">QuBi Eifel Mechernich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="uelp">
								  <span class="nav-link">Ülpenich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="zhm">
								  <span class="nav-link">Zingsheim</span>
							  </label>
						</nav>
					</div>
				</div>
			</div>
			<!-- <a class="nav-link" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a> -->
			<a class="nav-link" data-bs-toggle="collapse" href="#collForm" role="button" aria-expanded="true" aria-controls="collForm">Änderungsmitteilung</a>
			<div class="collapse" id="collForm">
				<div class="card card-body">
			  		<nav class="nav flex-column">
			  			<a class="nav-link" href="/formulare/aendmitteilung/anschrift">Anschrift</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/arbeitszeit">Arbeitszeit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/austritt">Austritt</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/bankverbindung">Bankverbindung</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fahrtendienst">Fahrtendienst</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/krankheit">Krankheit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/lohn">Lohn</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/mehrbedarf">Mehrbedarf</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/mittagessen">Mittagessen</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/sonstiges">Sonstiges</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fehlzeit_unbezahlt">Unbezahlte Fehlzeit</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/urlaub_unbezahlt">Unbezahlter Urlaub</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/fehlen_unentschuldigt">Unentschuldigtes Fehlen</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_arbeitsbereich">Wechsel in Arbeitsbereich</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_kostenstelle">Wechsel Kostenstelle</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_zweigstelle">Wechsel Zweigstelle</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/zuwendung">Zuwendung</a>
			  			<a class="nav-link" href="/formulare/aendmitteilung/feedback">Feedback</a>
					</nav>
				</div>
			</div>
		</nav>
		<nav  class="nav flex-column" th:case="*">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a>
			<!--<a class="nav-link" th:classappend="${page == 'hilfstool' ? 'active link-dark' : ''}" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a>-->
			<th:block th:if="${#strings.startsWith(page, 'aendmitt')}">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collForm" role="button" aria-expanded="true" aria-controls="collForm">Änderungsmitteilung</a>
				<div class="collapse show" id="collForm">
					<div class="card card-body">
				  		<nav class="nav flex-column">
				  			<a class="nav-link" th:classappend="${page == 'aendmittaddr' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/anschrift">Anschrift</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittwork' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/arbeitszeit">Arbeitszeit</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittwithdrawal' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/austritt">Austritt</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittbankacc' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/bankverbindung">Bankverbindung</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittshuttle' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/fahrtendienst">Fahrtendienst</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittillness' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/krankheit">Krankheit</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittpay' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/lohn">Lohn</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittaddrequire' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/mehrbedarf">Mehrbedarf</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittlunch' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/mittagessen">Mittagessen</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittother' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/sonstiges">Sonstiges</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittunpaidtime' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/fehlzeit_unbezahlt">Unbezahlte Fehlzeit</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittunpaidleave' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/urlaub_unbezahlt">Unbezahlter Urlaub</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmitttruant' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/fehlen_unentschuldigt">Unentschuldigtes Fehlen</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittchginworkgrp' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/wechsel_arbeitsbereich">Wechsel in Arbeitsbereich</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittchgcostcentre' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/wechsel_kostenstelle">Wechsel Kostenstelle</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittchglocation' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/wechsel_zweigstelle">Wechsel Zweigstelle</a>
				  			<a class="nav-link" th:classappend="${page == 'aendmittdonation' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/zuwendung">Zuwendung</a>
							<a class="nav-link" th:classappend="${page == 'aendmittfeedback' ? 'active link-dark' : ''}" href="/formulare/aendmitteilung/feedback">Feedback</a>
						</nav>
					</div>
				</div>
			</th:block>
			<th:block th:unless="${#strings.startsWith(page, 'aendmitt')}">
				<a class="nav-link" data-bs-toggle="collapse" href="#collForm" role="button" aria-expanded="true" aria-controls="collForm">Änderungsmitteilung</a>
				<div class="collapse" id="collForm">
					<div class="card card-body">
				  		<nav class="nav flex-column">
				  			<a class="nav-link" href="/formulare/aendmitteilung/anschrift">Anschrift</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/arbeitszeit">Arbeitszeit</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/austritt">Austritt</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/bankverbindung">Bankverbindung</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/fahrtendienst">Fahrtendienst</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/krankheit">Krankheit</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/lohn">Lohn</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/mehrbedarf">Mehrbedarf</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/mittagessen">Mittagessen</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/sonstiges">Sonstiges</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/fehlzeit_unbezahlt">Unbezahlte Fehlzeit</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/urlaub_unbezahlt">Unbezahlter Urlaub</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/fehlen_unentschuldigt">Unentschuldigtes Fehlen</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_arbeitsbereich">Wechsel in Arbeitsbereich</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_kostenstelle">Wechsel Kostenstelle</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/wechsel_zweigstelle">Wechsel Zweigstelle</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/zuwendung">Zuwendung</a>
				  			<a class="nav-link" href="/formulare/aendmitteilung/feedback">Feedback</a>
						</nav>
					</div>
				</div>
			</th:block>
		</nav>
  	</div>
</body>
</html>