<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="sidenav" class="col col-sm-2 m-2 p-3 bg-grey text-white text-left sidenav" th:switch="${page}">
  		<nav  class="nav flex-column" th:case="telenotiz">
			<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="false" aria-controls="collLocation">Gesprächsnotiz</a>
	  		<div class="collapse" id="collLocation">
				<div class="card card-body">
			  		<nav>
						  <label>
							  <input type="radio" name="location" id="zvw_location" value="zvw" checked>
							  <span class="nav-link">Zentrale Verwaltung</span>
						  </label><br>
						  <label>
							  <input type="radio" name="location" value="khm">
							  <span class="nav-link">Kuchenheim</span>
						  </label><br>
						  <label>
							  <input type="radio" name="location" value="kall">
							  <span class="nav-link">Kall</span>
						  </label><br>
						  <label>
							  <input type="radio" name="location" value="uelp">
							  <span class="nav-link">Ülpenich</span>
						  </label><br>
						  <label>
							  <input type="radio" name="location" value="zhm">
							  <span class="nav-link">Zingsheim</span>
						  </label>
					</nav>
				</div>
			</div>
		</nav>
		<nav  class="nav flex-column" th:case="*">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
		</nav>
  	</div>
</body>
</html>