<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="sidenav" class="col col-sm-2 m-2 p-3 bg-grey text-white text-left sidenav" th:switch="${page}">
  		<nav  class="nav flex-column" th:case="telenotiz">
  			<div id="step_location">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">Gesprächsnotiz</a>
		  		<div class="collapse show" id="collLocation">
					<div class="card card-body">
				  		<nav>
							  <label>
								  <input type="radio" name="location" id="zvw_location" value="zvw" checked>
								  <span class="nav-link">Zentrale Verwaltung</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="khm">
								  <span class="nav-link">Kuchenheim</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="kall">
								  <span class="nav-link">Kall</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="qubi">
								  <span class="nav-link">QuBi Eifel Mechernich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="uelp">
								  <span class="nav-link">Ülpenich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="zhm">
								  <span class="nav-link">Zingsheim</span>
							  </label>
						</nav>
					</div>
				</div>
			</div>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<a class="nav-link" href="/formulare/vcard/form">Visitenkarten</a>
			<!-- <a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a> -->
			<!-- <a class="nav-link" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a> -->
		</nav>
		<nav  class="nav flex-column" th:case="zeiterfassung">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<div id="step_location">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">Korrekturbeleg</a>
				<div class="collapse show" id="collLocation">
					<div class="card card-body">
				  		<nav>
							  <label>
								  <input type="radio" name="location">
								  <span class="nav-link">Zentrale Verwaltung</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="khm">
								  <span class="nav-link">Kuchenheim</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="kall">
								  <span class="nav-link">Kall</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="qubi">
								  <span class="nav-link">QuBi Eifel Mechernich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="uelp">
								  <span class="nav-link">Ülpenich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="zhm">
								  <span class="nav-link">Zingsheim</span>
							  </label>
						</nav>
					</div>
				</div>
			</div>
			<!-- <a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a> -->
			<!-- <a class="nav-link" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a> -->
		</nav>
		<nav  class="nav flex-column" th:case="bewirtungsantrag">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<div id="step_location">
				<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">Bewirtungsantrag</a>
				<div class="collapse show" id="collLocation">
					<div class="card card-body">
						<h5 id="nav_header">Veranstaltungsort:</h5>
				  		<nav>
							 <!--  <label>
								  <input type="radio" name="location" id="zvw_location" value="zvw" checked>
								  <span class="nav-link">Zentrale Verwaltung</span>
							  </label><br>-->
							  <label>
								  <input type="radio" name="location" value="khm" id="khm_location" checked>
								  <span class="nav-link">Kuchenheim</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="kall">
								  <span class="nav-link">Kall</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="qubi">
								  <span class="nav-link">QuBi Eifel Mechernich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="uelp">
								  <span class="nav-link">Ülpenich</span>
							  </label><br>
							  <label>
								  <input type="radio" name="location" value="zhm">
								  <span class="nav-link">Zingsheim</span>
							  </label>
						</nav>
					</div>
				</div>
			</div>
			<a class="nav-link" href="/formulare/vcard/form">Visitenkarten</a>
			<!-- <a class="nav-link" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a> -->
		</nav>
		<nav  class="nav flex-column" th:case="vcard">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<a class="nav-link active link-dark" href="/formulare/vcard/form">Visitenkarten</a>
			<!-- <a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a>-->
			<!--<a class="nav-link" th:classappend="${page == 'hilfstool' ? 'active link-dark' : ''}" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a>-->
		</nav>
		<nav  class="nav flex-column" th:case="*">
			<a class="nav-link" href="/formulare/telenotiz/form">Gesprächsnotiz</a>
			<a class="nav-link" href="/formulare/zeiterfassung/form">Korrekturbeleg</a>
			<a class="nav-link" href="/formulare/vcard/form">Visitenkarten</a>
			<!-- <a class="nav-link" href="/formulare/bewirtungsantrag/form">Bewirtungsantrag</a>-->
			<!--<a class="nav-link" th:classappend="${page == 'hilfstool' ? 'active link-dark' : ''}" href="/formulare/zeiterfassung/hilfstool">Novatime - Hilfstool</a>-->
		</nav>
  	</div>
</body>
</html>