<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<nav th:fragment="topmenu" class="navbar navbar-inverse navbar-fixed-top p-1">
	  	<ul class="nav nav-tabs">
			<li class="nav-item">
	  			<a class="nav-link" th:classappend="${#strings.length(page) > 0 ? 'active' : ''}" href="/formulare">
	  				<span class="material-icons md-80">home</span>
	  				NE.W
	  			</a>
		  	</li>
		 	<li class="nav-item">
		    	<a class="nav-link" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=start" >WIKI</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" target="_blank" href="/itsupport" >IT-Support</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" target="_blank" href="/newdaten" >Daten-NE.W</a>
		  	</li>
		</ul>
	</nav>
	</body>
</html>