<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<div th:fragment="webtour_msg" class="well" id="webtour_msg_div">
      	 	<div id="webtour_msg" class="alert alert-primary d-flex align-items-center" role="alert">
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
		  		<div>
		    		Wollen Sie eine interaktive Anleitung starten?<br>
		    		<button type="button" class="btn btn-success" id="start_tour">
						Ja
					</button>&nbsp;
					<button type="button" class="btn btn-danger" id="no_tour">
						Nein
					</button>
		  		</div>
			</div>
	 	</div>
	</body>
</html>