<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- include main scripts; title tag will be removed-->
	<title th:replace="~{itsupport/fragments/headmain :: headmain}"></title>
	<title>NEW-Änderungsmitteilung Zuwendung</title>

	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link  th:href="@{../../css/formulare_main.css}" rel="stylesheet">
    <style>
	    /* Remove the navbar's default margin-bottom and rounded borders */ 
	    .navbar {
	      margin-bottom: 0;
	      border-radius: 0;
	    }
	    
	    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	    .row.content {height: 450px}
	    /* Set gray background color and 100% height */
	    .sidenav {
	      padding-top: 20px;
	      background-color: #f1f1f1;
	      height: 100%;
	    }
	    
	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #555;
	      color: white;
	      padding: 15px;
	    }
	    fieldset{
		    text-align: left;
		}
		.interForm{
		    display: flex;
		    flex-flow: wrap;
		}
		form{
		    text-align: center;
		    border-color: #f1f1f1;
		    border-style: solid;
		    
		}
		section{
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    
		}
		/****** Begin Zeiterfassung section ******/
		#name_error {
			display: none;
		}
		/****** End section Zeiterfassung ******/
	    /* On small screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      .sidenav {
	        height: auto;
	        padding: 15px;
	      }
	      .row.content {height:auto;} 
	    }
  	</style>
  	<!-- Load persons array in javascript -->
  	<script type="text/javascript" th:inline="javascript">
		  var _telelist_kall = /*[[${kall_telelist}]]*/ 'Telelist Kall';
		  var _telelist_khm = /*[[${khm_telelist}]]*/ 'Telelist Kuchenheim';
		  var _telelist_uelp = /*[[${uelp_telelist}]]*/ 'Telelist ülpenich';
		  var _telelist_zhm = /*[[${zhm_telelist}]]*/ 'Telelist Zingsheim';
		  var _telelist_zvw = /*[[${zvw_telelist}]]*/ 'Telelist Zentrale Verwaltung';
		  var _persons = _telelist_zvw;
	 </script>
  	<!-- Javascript for form -->
  	<script type="text/javascript" th:src="@{../../js/aendmitteilung/zuwendung.js}">
	 </script>
</head>
<body>
	<!-- Load alert icons -->
	<svg th:replace="~{itsupport/fragments/alerticons}"></svg>
	
	<!-- Load Header from template -->
	<header th:replace="~{itsupport/fragments/header :: header}"></header>
	
	<!-- Load topmenu template -->
    <nav th:replace="~{formulare/fragments/topmenu :: topmenu}"></nav>
    
  	<div class="row pt-1 m-2">
  		<!-- Load sidenav template -->
  		<div th:replace="~{formulare/fragments/sidenav :: sidenav}"></div>
	    
	    <!-- main view col-->
	    <div class="col p-3 max-width text-left" style="height: 75%">
	    	<div id="sum_error" class="alert alert-danger d-flex align-items-center alert-dismissible visually-hidden" role="alert"><!-- Sum Error -->
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		  		<div>
		    		Bitte achten Sie auf die richtige Gesamtsumme der Gutscheine.
		  		</div>
			</div>
			<div id="form_success" class="alert alert-success d-flex align-items-center alert-dismissible visually-hidden" role="alert"><!-- Form Success -->
		  		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		  		<div>
		    		Die Änderungsmitteilung wird an Outloook übertragen.
		  		</div>
			</div>
			<div>
				<h1 id="location_header">Änderungsmitteilung - Zuwendung</h1>
			</div> 
	      	<form id="change_notice" method="post" action="#" style="min-width: 300px;">
	      		<!-- load head fields for form -->
				<th:block th:replace="~{formulare/fragments/aendmittgeneral :: headfields}"></th:block>
				<div class="row g-3 p-2 h-auto">
					<div class="form-floating mb-3 col"><!-- Grund -->
						<select id="option_reason" class="form-select" required>
							<option value="" selected hidden>Bitte den Grund auswählen</option>
							<option th:block th:each="reason : ${optreasons}" th:value="${reason}" th:text="${reason}"/>
						</select>
						<label for="option_reason">Grund (Urkunde beifügen)</label>
					</div>
					<div class="form-floating mb-3 col" id="jubilar_sel" hidden><!-- Grund -->
						<select id="option_jubilar" class="form-select">
							<option value="" selected hidden>Bitte die Jahre angeben</option>
							<option th:block th:each="year : ${optjubilar}" th:value="${year.value}" th:text="${year.text}"/>
						</select>
						<label for="option_jubilar">Jahre</label>
					</div>
				</div>
				<div class="row g-3 p-2 h-auto">
					<div class="form-floating mb-3 col"><!-- Gutschein -->
						<select id="option_voucher" name="option_voucher" class="form-select" required>
							<option value="" selected hidden>Bitte den Gutschein auswählen</option>
							<option th:block th:each="voucher : ${optvouchers}" th:value="${voucher.value}" th:text="${voucher.text}"/>
						</select>
						<label for="option_voucher">Gutschein</label>
					</div>
					<div class="form-floating mb-3 col"><!-- Anzahl -->
						<input id="voucherCount" type="number" name="voucherCount" class="form-control" placeholder="Anzahl" min="1" max="1" step="1" required>
						<label for="voucherCount">Anzahl</label>
					</div>
					<div class="form-floating mb-3 col"><!-- Gesamtsumme -->
						<input id="voucherCountSum" type="text" name="voucherCountSum" class="form-control" placeholder="Gesamtsumme" value="0" disabled>
						<label for="voucherCountSum">Gesamtsumme</label>
					</div>
				</div>
				<div id="voucher2" class="row g-3 p-2 h-auto" hidden> <!-- Voucher 2 Div Container -->
					<div class="form-floating mb-3 col"><!-- Gutschein 2 -->
						<select id="option_voucher2" name="option_voucher" class="form-select">
							<option value="" selected>Keine Angabe</option>
							<option th:block th:each="voucher : ${optvouchers}" th:value="${voucher.value}" th:text="${voucher.text}"/>
						</select>
						<label for="option_voucher2">Gutschein</label>
					</div>
					<div class="form-floating mb-3 col"><!-- Anzahl 2 -->
						<input id="voucherCount2" type="number" name="voucherCount" class="form-control" placeholder="Anzahl" value="0" min="0" max="2" step="1">
						<label for="voucherCount2">Anzahl</label>
					</div>
				</div>
				<div id="voucher3" class="row g-3 p-2 h-auto" hidden> <!-- Voucher 3 Div Container -->
					<div class="form-floating mb-3 col"><!-- Gutschein 3 -->
						<select id="option_voucher3" name="option_voucher" class="form-select">
							<option value="" selected>Keine Angabe</option>
							<option th:block th:each="voucher : ${optvouchers}" th:value="${voucher.value}" th:text="${voucher.text}"/>
						</select>
						<label for="option_voucher3">Gutschein</label>
					</div>
					<div class="form-floating mb-3 col"><!-- Anzahl 3 -->
						<input id="voucherCount3" type="number" name="voucherCount" class="form-control" placeholder="Anzahl" value="0" min="0" max="3" step="1">
						<label for="voucherCount3">Anzahl</label>
					</div>
				</div>
				<div class="row g-3 p-2">
					<div class="form-floating mb-3 col"><!-- Empfänger -->
						<input id="employee" type="text" name="employee" class="form-control" pattern="[a-zA-ZäüößÜÖÄ\-´'éÉ/\s/]+" placeholder="Verantwortlicher Mitarbeiter" required>
						<label for="employee">Verantwortlicher Mitarbeiter (Empfänger für die Gutscheinausgabe)</label>
					</div>
				</div>
				<!-- load foot fields for form -->
				<th:block th:replace="~{formulare/fragments/aendmittgeneral :: footfields}"></th:block>
			</form>
	    </div>
	    
	    <!-- Anzeige -->
	    <div class="col col-sm-2 p-3 bg-grey sidenav m-2">
	      	<h3>Anleitung</h3>
	      	<div class="well p-2 border">
	      		<!-- info an rechten col -->
	      		<ul>
					<li><strong>Schritt 1:</strong> Wählen Sie Ihren Standort aus.</li>
	      			<li><strong>Schritt 2:</strong> Geben Sie den Vor- und Nachnamen der gewünschten Person ein.</li>
	      			<li><strong>Schritt 3:</strong> Wählen Sie den Grund aus.</li>
	      			<li><strong>Schritt 4:</strong> Wählen Sie die Gutscheine und die Anzahl aus.</li>
	      			<li><strong>Schritt 5:</strong> Geben Sie den Namen von dem verantwortlichen Mitarbeiter an.</li>
	      			<li><strong>Schritt 6:</strong> Geben Sie Ihren Namen bei <strong>"Erstellt durch"</strong> an.</li>
	      			<li><strong>Schritt 7:</strong> Klicken Sie auf dem Button "Send Mail". Es wird eine Outlook Vorlage geöffnet, die Sie dann versenden können.</li>
	      		</ul>
	      	</div>
	      	<div class="well p-2 border">
	      		<h4>Gutscheine</h4>
	      		<ul>
					<li><strong>Hochzeit & Geburt:</strong><br><b>3</b> Gutscheine in Höhe von jeweils <b>50</b>,- EUR.</li>
	      			<li><strong>Verabschiedung:</strong><br><b>1</b> Gutschein in Höhe von <b>50</b>,- EUR.</li>
	      			<li><strong>Runder Geburtstag, Krankenbesuch, Erfolgreicher BBB:</strong><br><b>1</b> Gutschein in Höhe von <b>20</b>,- EUR.</li>
	      			<li><strong>Externes Praktikum:</strong><br>2. und 3. Praktikumsmonat jeweils <b>1</b> Gutschein.</li>
	      			<li><strong>Jubilare:</strong><br>nach <b>10</b> Jahren <b>1</b> Gutschein<br>
	      				nach <b>15</b> Jahren <b>2</b> Gutscheine<br>
	      				je <b>5</b> weitere Jahre, jeweils <b>1</b> Gutschein</li>
	      			<li><strong>Übergang soz. versich. pfl. AV:</strong><br><b>3</b> Gutscheine.</li>
	      		</ul>
	      	</div>
	      	<!-- load contact template -->
	      	<div th:replace="~{itsupport/fragments/contact :: contact}"></div>
	    </div>
	</div>
	<!-- Load Footer Template -->
	<footer th:replace="~{itsupport/fragments/footer :: footer}"></footer>
</body>
</html>