<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="sidenav" class="col col-sm-2 m-2 p-3 bg-grey text-white text-left sidenav"  th:switch="${page}">
		<nav  class="nav flex-column" th:case="ticket">
			<a class="nav-link active link-dark" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">IT-Support</a>
  			<div class="collapse show" id="collLocation">
				<div class="card card-body">
			  		<nav class="nav flex-column">
						<label>
						  	<a class="nav-link" aria-current="page" href="/itsupport/ticket/form">Support-Ticket an IT Senden</a>
						</label><br>
						<label>
							<a class="nav-link" aria-current="page" href="/itsupport/ticket/ticket_tracking">Ticket-Tracking</a>
						</label>
					</nav>
				</div>
			</div>
			<a class="nav-link" th:classappend="${page == 'awnotiz' ? 'active link-dark' : ''}" href="/itsupport/awnotiz/form">Abwesenheitsnotiz (AWS)</a>
			<a class="nav-link" th:classappend="${page == 'wikifeedback' ? 'active link-dark' : ''}" href="/itsupport/wikifeedback/form">WIKI-Feedback</a>
		</nav>
  		<nav class="nav flex-column" th:case="*">
  			<a class="nav-link" data-bs-toggle="collapse" href="#collLocation" role="button" aria-expanded="true" aria-controls="collLocation">IT-Support</a>
  			<div class="collapse" id="collLocation">
				<div class="card card-body">
			  		<nav>
						<label>
						  	<a class="nav-link" aria-current="page" href="/itsupport/ticket/form">Support-Ticket an IT Senden</a>
						</label><br>
						<label>
							<a class="nav-link" aria-current="page" href="/itsupport/ticket/ticket_tracking">Ticket-Tracking</a>
						</label>
					</nav>
				</div>
			</div>
			<a class="nav-link" th:classappend="${page == 'awnotiz' ? 'active link-dark' : ''}" href="/itsupport/awnotiz/form">Abwesenheitsnotiz (AWS)</a>
			<a class="nav-link" th:classappend="${page == 'wikifeedback' ? 'active link-dark' : ''}" href="/itsupport/wikifeedback/form">WIKI-Feedback</a>
		</nav>
  	</div>
</body>
</html>