<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<nav th:fragment="topmenu" class="navbar navbar-inverse navbar-fixed-top p-1">
	  	<ul class="nav nav-tabs">
		  	<li class="nav-item">
	  			<a class="nav-link" th:classappend="${page == 'wikifeedback' ? '' : 'active'}" aria-current="page" href="/itsupport">
	  				<span class="material-icons md-80">home</span>
	  				NE.W
	  			</a>
		  	</li>
		  	<li class="nav-item dropdown">
		    	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">MICOS</a>
		    	<ul class="dropdown-menu">
			      	<li><a class="dropdown-item" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=apps-programme_infos-handbuecher:micos:start">Startseite</a></li>
			      	<li><a class="dropdown-item" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=apps-programme_infos-handbuecher:micos:tutorials:start">Tutorial/Anleitung</a></li>
			      	<li><a class="dropdown-item" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=apps-programme_infos-handbuecher:micos:micos-faq">FAQ's</a></li>
		    	</ul>
		  	</li>
		  	<li class="nav-item dropdown">
		    	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Job Router</a>
		    	<ul class="dropdown-menu">
			      	<li><a class="dropdown-item" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=apps-programme_infos-handbuecher:job_router_handbuch:start">Startseite/ Newsletter</a></li>
			      	<li><a class="dropdown-item" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=apps-programme_infos-handbuecher:job_router_handbuch:tutorials:start">Tutorial/Anleitung</a></li>
			      	<li><a class="dropdown-item" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=apps-programme_infos-handbuecher:job_router_handbuch:jobrouter-faq">FAQ's</a></li>
			      	<li><hr class="dropdown-divider"></li>
			      	<li><a class="dropdown-item" href="http://srv-dms.kuchenheim.new.de/jobrouter/">Job Router Platform</a></li>
		    	</ul>
		  	</li>
		 	<li class="nav-item">
		    	<a class="nav-link" target="_blank" href="http://192.168.0.216/wiki/doku.php?id=start" >WIKI</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" target="_blank" href="/formulare" >Digi-NE.W-Formulare</a>
		  	</li>
		  	<li class="nav-item">
		  		<a class="nav-link" target="_blank" href="/newdaten" >Daten-NE.W</a>
		  	</li>
		</ul>
	</nav>
	</body>
</html>